.moment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

img {
  max-width: 500px;
  width: 100%;
  margin-bottom: 2rem;
}

.about-moment,
.actions {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  padding: 1.2rem;
}

.about-moment h3 {
  padding-bottom: 1.2rem;
}

.about-moment p {
  padding-bottom: 0.4rem;
}

/* BUTTONS */

.actions {
  display: flex;
  justify-content: center;
  background-color: #eee;
  margin-bottom: 2.4rem;
  width: 100%;
  gap: 2.4rem;
  padding: 1.2rem;
}

.moment-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.4s all;
}

.edit-btn {
  color: var(--blue);
  border: 1px solid var(--blue);
}

.edit-btn:hover {
  color: #fff;
  background-color: var(--blue);
  border: 1px solid var(--blue);
}

.remove-btn {
  color: var(--error);
  border: 1px solid var(--error);
}

.remove-btn:hover {
  color: #fff;
  background-color: var(--error);
  border: 1px solid var(--error);
}

/* COMMENTS */
.comments {
  margin-bottom: 4.8rem;
  padding: 1rem 0;
}

.comments h3,
.new-comment h3 {
  font-size: 2.2rem;
  padding-bottom: 2.4rem;
}

.noComments {
  font-size: 1.6rem;
}

/* NEW COMMENT */

.new-comment {
  width: 100%;
  max-width: 45rem;
}

.form-group {
  text-align: left;
}

.comment-container {
  padding: 1rem 1.6rem 1.6rem;
  border-bottom: 1px solid var(--main-gray);
}

.comment-text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-align: left;
}

.comment-author {
  font-size: 1.4rem;
  font-weight: 600;
}

.comment-date {
  font-size: 1.4rem;
}

.comment-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
