/* GENERAL */
:root {
  --main-gray: #444;
  --main-yellow: #967e08;
  --error: #dc3545;
  --success: #12b886;
  --warning: #fcc419;
  --blue: #1c7ed6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Cambria, Cochin;
  line-height: 1;
  color: var(--main-gray);
}

a {
  text-decoration: none;
  color: var(--main-gray);
  transition: 0.4s;
}

a:hover {
  color: var(--main-yellow);
}

/* UTILITY CLASS */
.secondary-heading {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 5.2rem;
}

/* FORM */
.form {
  max-width: 48rem;
  width: 100%;
  margin: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form-group label {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

.form-group input,
.form-group textarea {
  padding: 0.8rem;
  color: #777;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group textarea {
  height: 12rem;
}

/* BUTTON */
.btn {
  font-weight: 700;
  font-size: 1.6rem;
  background-color: #666;
  color: #efefef;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  transition: 0.4s;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #444;
}

/* ERROR MESSAGE TO INPUTS  */
.validation-error p {
  font-size: 1.4rem;
  margin-top: 0.8rem;
  color: var(--error);
  border-left: 3px solid var(--error);
  padding-left: 0.5rem;
}

/* TEXT HIGHLIGHT */
.highlight {
  color: var(--main-yellow);
}
